# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.vscode/settings.json
bk_API使用说明.md
bk_CHANGELOG.md
.vscode/launch.json
sm2/TestResult
gmtls/gmcredentials/__debug_bin
sm2/testdata/msg.dat
sm2/testdata/signdata
